
.links a:hover{
    color: rgb(156, 34, 34);
   
}
.links a{
    text-decoration: none;
    margin-left: 15px;
    color: black;
    font-size: large;
}
.img{
    margin-top:5px;
    height: 400;
    width: 100%
}
*{
    margin: 0;
    padding: 0;
}
.contenur{
    border: 1px solid #bbbaba;
    width: 270px;
    height: 520px;
    background-color: white;
    margin-left: 160px;
    margin-top: 45px;
}
.green{
    position: relative;
    background-color: #519251;
    width: 270;
    height: 200px;
}
.mint-green{
    position: relative;
    background-color: #dbf1e9;
    width: 270px;
    height: 247px;
    line-height: 2.5;
}
.text-insid{
    color: #526066;
    font-family: sans-serif;
}
.hr{
    height: 1px;
    border-width: 0;
    background-color: #1f48d5;
}
.button{
    background-color: white;
    border-radius: 19px;
    width: 82px;
    height: 28px;
    margin-left: 33%;
    margin-top: 7%;
    border-color: gray;
    border-width: 1;
    color: black;
    font-size: medium;
    font-family: sans-serif;
}
.pragraf{
    width: 367px;
    line-height: 1.5;
    font-family: system-ui;
    font-size: medium;
    color: #757575;
}
.title{
    font-size: large;
    font-family: sans-serif;
}
.black{
    background-color: black;
    margin-top: 70px;
    height: 60px;
    width: 100%;
    position: relative;
}
